@model List<FoodItem>;
@{
    ViewData["Title"] = "DisplayFoodItems";
}
<div style="padding-bottom:30px; padding-top:20px; background-color:antiquewhite;">


<div class="d-flex justify-content-center">
    <a class="btn btn-primary m-4" asp-controller="Restaurant" asp-action="AddFoodItem">Add New Food Item</a>
</div>
    @if (Model.Count == 0)
    {
        <div align="center" style="align-content:center;align-items:center;justify-content:center;margin-top:100px">
    <h4 style="color:#535665;font-size: 20px;font-weight: 600;">No Food Items added!</h4>
        <p style="color:#7e808c">Please add new item <br/> </p>
        </div>
    }
    <div class="container">
    <div class="row">
        @foreach(var i in Model)
        {
            <div class="col-3 d-flex flex-column shadow border-info item-container">
                <img src="@i.FoodItemImage" class="image" />
                <p class="item-name">@i.FoodItemName</p>
                <div class="d-flex justify-content-between">
                    <p >₹@i.Price</p>
                    <div>
                        @Html.ActionLink("Edit", "EditFoodItem", new { id=i.FoodItemId }) |
                        @Html.ActionLink("Delete", "DeleteFoodItem", new { id=i.FoodItemId})
                    </div>
                    
                </div>
                
            </div>
        }
        

    </div>

</div>
</div>