@model List<FoodItem>;
@{
    ViewData["Title"] = "DisplayFoodItems";
}
<div style="padding-bottom:30px; padding-top:20px; background-color:antiquewhite;">


<div class="d-flex justify-content-center">
    <a class="btn btn-primary m-4" asp-controller="Restaurant" asp-action="AddFoodItem">Add New Food Item</a>
</div>
<div class="container">
    <div class="row">
        @foreach(var i in Model)
        {
            <div class="col-3 d-flex flex-column shadow border-info item-container">
                <img src="@i.FoodItemImage" class="image" />
                <p class="item-name">@i.FoodItemName</p>
                <div class="d-flex justify-content-between">
                    <p >₹@i.Price</p>
                    <div>
                        @Html.ActionLink("Edit", "EditFoodItem", new { id=i.FoodItemId }) |
                        @Html.ActionLink("Delete", "DeleteFoodItem", new { id=i.FoodItemId})
                    </div>
                    
                </div>
                
            </div>
        }
        

    </div>

</div>
</div>