@model LoginDetails

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-container">



<form method="post">
    <div class="border p-3 container  align-self-center " style="width:40%">

        <div class="p-3 mt-4 container align-self-center">
           @* @if(ViewBag.NotExist == "NotExist")
            {
                <p class="text-danger">UserName already exist</p>
            }*@
             @if(ViewBag.ResNotExist == "NotExist")
            {
                <p class="text-danger">Restaurant not exist</p>
            }

            <h3 style="color:white;">Log In</h3>
            <br />
            <div class="mb-3">
                @*<label asp-for="UserName"></label>*@
                <input required asp-for="RestaurantName" placeholder="Restaurant Name*" class="form-control" style="width:100%"/>
            </div>

             <div class="mb-3">
                @*<label asp-for="Email"></label>*@
                <input required asp-for="UserName" placeholder="UserName*" class="form-control" style="width:100%"/>
            </div>

             <div class="mb-3">
                @*<label asp-for="Password"></label>*@
                <input required asp-for="Password" placeholder="Password*" type="password" class="form-control" style="width:100%"/>
            </div>

            <button type="submit" class="btn btn-outline-primary" style="width:100% ">Log In</button>

@*            <p>Already have an account ?<a asp-controller="FoodSite" asp-action="Login" class="text-danger"> Login</a></p>
*@
        </div>

      
        
    </div>

</form>

</div>